certifi==2024.12.14
charset-normalizer==3.4.1
DateTime==6.0
daytime==0.4
idna==3.10
numpy==2.4.1
pandas==3.0.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
six==1.17.0
urllib3==2.3.0
zope.interface==8.2
